form.create-form {
	background-color:inherit;
	height:100%;
}

form.create-form input {
	display:block;
}

/* MAIN TEXTAREA */
div.form-content {
	border:20px solid #2C2F33; /* simulate padding */
	background-color:#2C2F33;
}

textarea {
	display:block; /* warning, à tester */
	width:100%;
	color:#fefefe;
	resize:none;
	background:none;
	margin-top:5%;
}

/* */


/* CARD template in create */

.child:hover {
	transform:none !important;
}


#show-image-input {
	margin:0 auto;
	width:80%;
	text-align:center;
	padding:2%;
	color:#fefefe;
	background-color:#23272A;
	border:none;
}

/* END */


.submit {
	position:fixed;
	bottom:20px;
	right:20px;
	
	cursor:pointer;
	border:none;

	background-color:#4cd137;
	color:#fefefe;

	font-size:250%;
	width:100px;
	height:100px;
	border-radius:100px;

}