<!DOCTYPE html>
<html>
<head>
	{% load static %}
	{% include 'head.html' %}
	<link href="{% static 'articles/show.css' %}" rel="stylesheet">
	<title>Articles ➔ {{ article.id }} ➔ ASFIX</title>
</head>
<body>

<!-- {% load  %} "md" NOT SAFE -->

{% include 'header.html' %}

<main>

<!--
#{{ article.id }}
-->
<div class="content">
	<h1 class="title">
		{{ article.title }}
		<br>
		<p style="color: #AA1123;font-size: 12px;font-weight: 500;">* Le système de markdown a été enlevé pour l'instant : pas safe</p>
	</h1>
	<!-- <pre class="markdown">\{{ article.content }}</pre> article.content|markdown|safe NOT SAFE, FAILLE XSS -->
	<pre class="markdown">{{ article.content }}</pre>

	<div class="end"></div>

</div>

<form method="POST">
	{% csrf_token %}
	<p>Ecrivez un commentaire ici :</p>
	<textarea name="content"></textarea>
	{% if user.is_authenticated %}
	<button class="button-green">Ajouter</button>
	{% else %}
	<button class="button-disabled" disabled>Il faut vous inscrire pour commenter !</button>
	{% endif %}
</form>

{% for _, author, content in comments %}
<div class="content">

	<p class="author">
		@{{author.username}}
	</p>
	<!-- <pre class="markdown">\{{ article.content }}</pre> article.content|markdown|safe NOT SAFE, FAILLE XSS -->
	<pre class="markdown">{{content}}</pre>

	<div class="end"></div>
</div>
{% endfor %}


</main>

{% include 'footer.html' %}

</body>
</html>