<!DOCTYPE html>
<html>
<head>
	{% load static %}
	{% include 'head.html' %}
	<link href="{% static 'articles/show.css' %}" rel="stylesheet">
	<title>Articles ➔ {{ article.id }} ➔ ASFIX</title>
</head>
<body>

{% load md %}

{% include 'header.html' %}

<main>

<!--
#{{ article.id }}
-->
<div class="content">
	<h1 class="title">
		{{ article.title }}
	</h1>

	<pre class="markdown">{{ article.content|markdown|safe }}</pre>

	<div class="end"></div>
</div>


</main>

{% include 'footer.html' %}

</body>
</html>