.bin-create textarea {
	font-family:"Courier new", Courier, monospace;
	position:fixed;
	width:100%;
	height:100%;
	padding:30px;
	padding-bottom: 8vh;
	background-color:#333333;
	font-size:13px;
	color:#dddddd;
	resize:none;
}

@media screen and (max-width:800px) {
	.bin-create textarea {
		font-size:20px;
	}
}

.bin-create button.unactive {
	position:fixed;
	bottom:3vh;
	right:3vh;
	width:10vh;
	height:10vh;
	border-radius:50%;

	background-color:#333333;
	color:#cccccc;
	cursor:not-allowed;
	opacity:0.3;
	transition:all 0.3s linear;
}

.bin-create button.active {
	cursor:pointer;
	opacity:1;
	background-color:#cccccc;
	color:#333333;

	transition:all 0.3s linear;
}

.bin-create svg {
	font-size:40px;
}

button.preview {
	position:fixed;
	bottom:15vh;
	right:3vh;
	width:15vh;
	height:15vh;
	border-radius:50%;

	background-color:#f0f0f0;
	color:#333333;
}

#preview {
	font-family:"Courier new", Courier, monospace;
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:10%;
	padding:5vh;
	background-color:#333333;
	font-size:12px;
	color:#dddddd;
}