textarea.container-bin__textarea-code-snippets {
	font-family:"Courier new", Courier, monospace;
	position:fixed;
	width:100%;
	height:100%;
	padding:30px;
	padding-bottom: 8vh;
	background-color:#333333;
	font-size:13px;
	color:#dddddd;
	resize:none;
}

div.menu-bottom {
	position:fixed;
	bottom:0;
	right: 0;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	gap: 10px;

	background-color: #222222;
	color: #cccccc;
	padding: 5px 20px;
	width: 600px;
}


div.menu-bottom__parts {
	flex: 1;
	display: flex;
	gap: 10px;
	flex-flow: row wrap;
	align-items: center;
}

span.menu-bottom__optional-label {
	font-size: 10px;
	color: #888888;
}

button.menu-bottom__add-tag {
	background: unset;
	cursor: pointer;
	border-radius: 50%;
	/* bug de hitbox pointer */
}

button.menu-bottom__add-tag > svg {
	font-size: 10px;
	color: #cccccc;
	border: 1px solid #cccccc;
	padding: 5px;
	border-radius: 50%;
}

textarea.menu-bottom__textarea-bin-title {
	border-radius:2px;
	padding: 3px;
	background-color:#333333;
	color:#cccccc;

	resize:none;
}

button.menu-bottom__btn-create-disabled {
	width:60px;
	height: 60px;
	border-radius:5px;

	background-color:#222222;
	color:#cccccc;
	cursor:not-allowed;
	opacity:0.3;
	transition:all 0.3s linear;
}

button.menu-bottom__btn-create-disabled > svg {
	font-size:40px;
}

button.menu-bottom__btn-create-enabled {
	cursor:pointer;
	opacity:1;
	background-color:#cccccc;
	color:#333333;

	transition:all 0.3s linear;
}

ul.menu-bottom__lst-defined-tags {
	visibility: hidden;
	position: absolute;
	top: -80px;
	left: 80px;
	height: 100px;
	overflow-y: scroll;
	background-color: #222222;
	color: #cccccc;
	border: 1px solid #111111;
	border-radius: 5px;
}
ul.menu-bottom__lst-defined-tags > li {
	cursor: pointer;
	padding: 5px;
}
ul.menu-bottom__lst-defined-tags > li:hover {
	background-color: #333333;
}

@media screen and (max-width:800px) {
	textarea.container-bin__textarea-code-snippets {
		font-size:20px;
	}

	div.menu-bottom {
		width: 100%;
	}
}