body {
	background-color:#333333 !important;
}

pre.prettyprint {
	white-space: pre; /* bottom scroll bar */
	counter-reset: number;
	/*position:fixed;*/
	width:100%;
	height:100%;
  	padding:0;
	background-color:#333333 !important; /* #282923 (sublime text) */
	font-size:13px !important;
	border:none !important;
	outline:none !important;
	color:#dddddd !important;

	margin: 10px 0 30px 0;

	cursor: text;

}


/*
p	.prettyprint li {
	list-style-type:decimal;
	list-style-position: outside;
}

pre.prettyprint li::before {
	content:"";
	margin-right:1vh;
}

pre.prettyprint li::marker {
	color:#666666;
}
*/

/* !important to override default prettyprint style */

/*
FIREFOX :
les <li> créent un padding-bottom (on dirait) de quelque px, le text s'aligne en haut à droite de la <li>

CHROME :
les <li> créent aucun padding-bottom mais centre bien le texte au milieu à droite
*/
li {
	padding:0 !important;
	outline:0 !important;
	margin:0 !important;
	/* line-height:0.8; */
}

li::before {
  	counter-increment: number;
  	content: counter(number);
  	margin-right:12px;
	color: #fff;
	display: inline-block;
	background-color:#333333;
	width: 3em;
	text-align:right;
	padding-right:1vh;
	font-size:13px;
	border-right: 1px dashed white ;
}

li:hover {
	background-color:#282923;
}

li:hover::before {
	background-color:#282923;
}



@media screen and (max-width:800px) {
	pre.prettyprint {
		font-size:20px;
	}
	li::before {
		font-size:20px;
	}
	li:hover {
		background-color:unset;
		padding-top:0;
		padding-bottom:0;
	}
	li:hover::before {
		background-color:unset;
	}
}

/* BOTTOM RIGHT BUTTON */
.bottom-button {
	position:fixed;
	width:10vh;
	height:10vh;
	right:3vh;
	border-radius:50%;

	background-color:#cccccc;
	color:#333333;
	cursor:pointer;
}

.bottom-button-a {
	color:#333333;
}

.bottom-button svg {
	font-size:40px;
}

.create-button {
	bottom:3vh;
}

.copy-button {
	bottom:15vh;
}

.print-button {
	bottom:27vh;
}

.code {
	background-color: rgb(22, 160, 133);
	padding: 0.8%;
	border-radius: 10px;
	top: 10vh;
	right: 3vh;
	color: white;
	position: fixed;
	text-align: center;
}

.code .t1 {
	font-size: 10px;
	color: #eeeeee;
}
.infos {
	padding: 10px;
	border-radius: 5px;
	top: 100px;
	right: 0vh;
	color: #cccccc;
	position: fixed;
	background-color: #111111;
}
.infos p {
	font-size: 12px;
	margin-bottom: 5px;
}

.infos .infos-code {
	display: inline-block;
	margin-bottom: 10px;
}

.infos .copy-code {
	position: absolute;
	right: 0;
	top: 0;
	color: white;
	background-color: #111111;
	margin: 10px;
	cursor: pointer;
}
.infos .copy-code svg {
	font-size: 30px;
	color: #777777;
}

.infos textarea {
	resize: none;
	background-color: #111111;
	color: #eeeeee;
	border: 1px solid #777777;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
	
}

.prettyprinted {
	color:#dddddd !important;
}

.pln {
	color:#dddddd !important;
}

.pun {
	color:#dddddd !important;
}

.kwd {
	color:#F92672 !important;
}

.typ {
	color:#66D9EF !important;
}

.com {
	color:#75715E !important;
	font-style:italic !important;
}

.str {
	color:#E7DB74 !important;
}

.lit { /* number */
	color:#AE81FF !important;
}
