
.dev-card {
	margin:0 auto;
	width:80%;
	border:5px solid black;
}

.name {
	color:#e84118;
	font-size:200%;
	text-align:center;
}

.pfp {
	text-align:center;
}

.pfp img {
	width:100px;
	height:100px;
	border-radius:100px;
	border:3px solid #e84118;
}

.languages {
	color:white;
	background:#e84118;
	padding:2%;
}

.link {

}


.link img {
	width:0;
}