/* NAVIGATION BAR */

.main-header {
	display:flex;
	flex-flow:row wrap;
	align-items:center;
	background-color:#fefefe;
	border-bottom:0 solid #204ecf;
}

.main-header h1 {
	flex:0.5;
	color:#204ecf;
	padding:1%;
}

.main-header .logo {
	flex:1;
	padding:1%;
	text-align:right;
}
.main-header .logo img{
	width:35px;
}

.main-header .logo svg {
	color:#204ecf;
	font-size:200%;
}

.main-header #navbar-deploy {
	padding-right:1%;
	cursor:pointer;
	background:none;
}

.main-header #navbar-deploy svg {
	font-size:200%;
	color:#204ecf;
}

.separator-1 {
	background-color:#fefefe;
}

.separator-1 div {
	border-top:2px solid #204ecf;
	margin:0 auto;
	width:70%;
}

.separator-2 {
	background-color:#fefefe;
	display:contents;
}

.separator-2 div {
	width:80%;
	border:1px solid #204ecf;
	margin:0 auto;
	margin-bottom:1vh;
}

/*

#navbar-deploy {
	position:fixed;
	right:3px;
	top:3px;
	width:50px;
	height:50px;
	background:none;
}
*/

header.navbar-parent {
	background-color:#fefefe;
	/* border-bottom:5px solid #204ecf; */
	/* padding-bottom:1vh; */
}

.navbar-first-elt {
	color:#204ecf;
}

.navbar-elt {
	color:#204ecf;
}

.navbar-elt:hover {
	background-color:#204ecf;
	color:#fefefe;
}

header.navbar-parent {
	position:sticky;
	top:0;
	display:flex;
	z-index:1000000;
	width:100%;

	flex-flow:row wrap;
	align-items:center;
	

	opacity:1;


}

.navbar-first-elt-logo {
	padding:0 2%;
	flex:0.1;
	text-align:center;
}

.navbar-first-elt-logo img {
	width:30px;
}


.navbar-first-elt {
	flex:0;
	margin-left:1%;
	margin-right:1%;
	font-size:200%;
}

.navbar-elt {
	flex:0.1;
	text-align:center;
	padding:2%;
	transition:all 0.2s linear;
}

/*
.navbar-role {
	position:absolute;
	right:0;
	padding:2%;
	font-size:150%;
}

.navbar-role svg {
	transition:all 0.2s linear;
}

.navbar-role svg:hover {
	color:#204ecf;
}
*/

.button-top {
	cursor:pointer;
	padding:1%;
	position:absolute;
	right:0;
	font-size:200%;
	color:#204ecf;

}