@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lilita+One&family=Luckiest+Guy&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* NAVIGATION BAR */
nav.navbar-parent {
	font-family: "Lilita One", sans-serif !important;
	font-weight: 400;
	font-style: normal;
	position: sticky;
	top:0;
	background-color:#222222;
	display:flex;
	z-index:1000000;
	width:100%;

	flex-flow:row wrap;
	align-items:center;
	justify-content: space-between;
	

	opacity:1;
}

.header-content {
	width:100%;
	display:flex;
	flex-flow:row wrap;
	margin: auto;
	align-items: center;
}

.links {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	align-items:center;
}

#appname {
	flex: 0.1;
	color: white;
	margin-left: 30px;
	margin-top:4px;
}

#appname img {
	width:45px;
}

.navbar-elt {
	flex:0.1;
	text-align:center;
	padding:2%;
	color:#cccccc;
	transition:all 0.2s linear;
}

.navbar-elt:hover {
	color:white;
}

.button-top {
	display:none;
	padding:1%;
	position:fixed;
	right:0;
	bottom: 0;
	font-size:200%;
	color:rgb(22, 160, 133);
}

.button-top svg {
	cursor:pointer;
}



div.sign {
	flex:0.5;
	display:flex;
	align-items:center;

	justify-content: flex-end;
	margin-right: 1%;

}

div.sign a {
	background: none;
	flex:1 1px 100%;
	padding:2%;
	margin-right:1%;
	margin-left:1%;
}

@media screen and (max-width:800px) {
	div.sign a {
		padding:1%;
	}
}


/* LOADER */
.loader {
	background: #282923;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999999999; /* lol */
}

.loader .inside {
	position:absolute;
	border-radius:50%;
	width:150px;
	height:150px;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	animation-name:loading;
	animation-duration:1s;
	animation-iteration-count:infinite;
}


@keyframes loading {
	20% {
		border-top:none;
		border-right:5px solid #00a8ff;
		border-bottom:5px solid #0097e6;
		border-left:5px solid #9c88ff;
	}

	40% {
		border-right:none;
		border-top:5px solid #8c7ae6;
	}

	60% {
		border-bottom:none;
		border-right:5px solid #00a8ff;
	}

	80% {
		border-left:none;
		border-bottom:5px solid #0097e6;
	}
}