body {
	background:none;

}

main {
	background:#e84118;
}

header.navbar-parent {
	
}


div.presentation {
	color:white;
	text-align:center;
}

div.presentation img {

}

div.description {
	background-color:none;
	padding:1%;
	display:inline-block;
	border-left:5px solid orange;
	border-radius:10px;
	margin-left:5%;
}