body {
	background:none;
	background-color:#00000f;

}

header.navbar-parent {
	border:none;
}


div.presentation {
	color:white;
	text-align:center;
}

div.presentation img {}

div.description {
	background-color:white;
	padding:1%;
	display:inline-block;
	border-left:5px solid orange;
	border-radius:10px;
	margin-left:5%;
}