html {
  height:100%;
}
body {
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

main {
  display:flex;
  height:100%;
  align-items:center;
  background-color: #2E2E2E;
}




/* new login */

:root {
    --login-page-background: #2e2E2E;
    --login-foreground: #dddddd;

    --login-background: #212121;

    --login-input-and-separator-background: rgb(44, 47, 51);
    --login-input-background-hover: rgba(44, 47, 51, 0.8);

    --login-background-white-theme: #eeeeee;
    --login-foreground-white-theme: #2e2E2E;

    --turquoise-clair: rgb(26, 188, 156);
    --turquoise-clair-hover: rgba(26, 188, 156, 0.8);
    
    --turquoise: rgb(22, 160, 133);
    --turquoise-hover: rgba(22, 160, 133, 0.8);

    --register-bar-password-color: #e74c3c;
    --register-bar-password-verify-color: #e74c3c;
    --register-bar-password-width: 0%;
    --register-bar-password-verify-width: 0%;
}

/* styles.css */



body {
    background-color: var(--login-page-background);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}



.form-container {
    border-top-width: 7px;
    border-top-style: solid;
    border-top: 7px solid var(--turquoise);
    width: 340px;
    padding: 20px;
    background-color: var(--login-background);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 6px;
    color: #aaaaaa;
    font-size: 12px;
    font-weight: bold;
}

input {
    border: none;
    outline: none;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;

    background-color: var(--login-input-and-separator-background);
    color: #dddddd;
}
input:hover {
    background-color: var(--login-input-background-hover);
}
input:focus::placeholder {
    opacity: 0;
}

input[type="submit"] {
    background-color: var(--turquoise);
    cursor: pointer;
    transition: all 0.1s linear;
}
input[type="submit"]:hover {
    background-color: var(--turquoise-hover);
}

.passwordDivs {
    display:flex;
    align-items: center;
}

.passwordDivs button.hide-password {
    margin:0;
    padding:0;
    cursor:pointer;
    position: absolute;
    right:10px;
    background: none;
    color:#aaaaaa;
    font-size:15px;
}


#password,
.form-register #password-verify,
.form-register #username {
    margin: 0;
}

#passwordDiv,
.form-register #passwordVerifyDiv,
.form-register #passwordLoginDiv {
    position: relative;
    margin:0;
}
.form-login #passwordDiv {
    margin-bottom:15px;
}

.form-register #passwordDiv::after,
.form-register #passwordVerifyDiv::after {
    transition: all 0.3 linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    content: "";
    position: absolute;
    height: 3px;
    
    bottom: 0;
    left: 0;
}

.form-register #passwordDiv::after {
    width: var(--register-bar-password-width);
    background-color: var(--register-bar-password-color);
}

.form-register #passwordVerifyDiv::after {
    width: var(--register-bar-password-verify-width);
    background-color: var(--register-bar-password-verify-color);
}

.secure-password-and-bad-password {
    color: var(--red);
    margin-top: 3px;
    margin-bottom: 12px;
}

.form-register #secure-password-details,
.form-register #secure-password-verify-details,
.form-register #secure-login-details {
    margin: 0;
    overflow: hidden;
    height:0px;

    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    font-size: 10px;
}

.container {
    text-align: left;
}

.form-container a {
    text-decoration: none;
    color: var(--turquoise);
    font-weight: 600;
}

.form-container a:hover {
    text-decoration: underline;
}



.already-account {
    font-size: 12px;
    margin: 0;
    color:  #b5bac1;
}

.separator {
    border-top: 3px solid var(--login-input-and-separator-background);
    margin: 8% 5% 3% 5%;
}
