.div-login {
	position: absolute;
	top: 40%;
	left:50%;
	-ms-transform: translateY(-40%);
	transform: translateY(-40%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width:50%;

	border-radius:5px;
	background-color:#fefefe;
	border: 2px rgba(76,209,55,0.65) solid;

	box-shadow: 0px 0px 10px 2px rgba(76,209,55,0.65);
	-moz-box-shadow: 0px 0px 10px 2px rgba(76,209,55,0.65);
	-webkit-box-shadow: 0px 0px 10px 2px rgba(76,209,55,0.65);
}

.div-login a {
	/* styles.css (button-green, ...) */
}

.div-login .sign-in {
	margin:10% 7% 4% 7%;
}

.div-login .sign-up {
	margin:4% 7% 10% 7%;
}

.div-login .sign-in:hover {
	margin:10% 5% 4% 5%;
}

.div-login .sign-up:hover {
	margin:4% 5% 10% 5%;
}

.div-login a:hover:after {
	content:"  →";
}

.div-login a:hover:before {
	content:"←  ";
}