html {
  height:100%;
}
body {
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}



main {
  display:flex;
  height:100%;
  align-items:center;
}


.div-login {
  width:50%;
  margin:auto;
	border-radius:5px;
	background-color:#444444;
	border: 2px rgba(68, 189, 50, 0.65) solid;

	box-shadow: 0px 0px 10px 2px rgba(68, 189, 50, 0.65);
	-moz-box-shadow: 0px 0px 10px 2px rgba(68, 189, 50, 0.65);
	-webkit-box-shadow: 0px 0px 10px 2px rgba(68, 189, 50, 0.65);
}

.div-login a {
	/* styles.css (button-green, ...) */
}

.div-login .sign-in {
	margin:10% 7% 4% 7%;
}

.div-login .sign-up {
	margin:4% 7% 10% 7%;
}

.div-login .sign-in:hover {
	margin:10% 5% 4% 5%;
}

.div-login .sign-up:hover {
	margin:4% 5% 10% 5%;
}

.div-login a:hover:after {
	content:"  →";
}

.div-login a:hover:before {
	content:"←  ";
}




/* sign pages : sign-up.html AND sign-in.html */

.link-in-button {
	color:inherit;
}

/*body.sign {
	padding-bottom:50%;
}*/

.div-sign {
	margin:auto;
	width:30%;

	border-radius:5px;
	background-color:#444444;  
}

.div-sign .top {
	border-top-left-radius: 5px;
  border-top-right-radius: 5px;
	text-align:center;
	color:#fefefe;
	padding:5%;
}

.div-sign .middle {
	padding:5% 4% 8% 4%;
}

.div-sign .bottom {
	margin:0 auto;
  margin-top:-5%;
	width:100%;
  border-radius:4px;
}

.div-sign .end {
  padding: 0 4% 0 4%;
  
}

.div-sign label {
  color:#ededed !important;
	display:block;
	font-weight:bold;
	margin-bottom:2%;
  font-size:12px;
}

.div-sign div.input {
	display:flex;
	align-items:center;
	
	border-radius:4px;
	transition:all 0.2s linear;
  color:#bcbcbc !important;
}

.div-sign div.input:hover {
	color:#fefefe;
}

.div-sign div.error {
	padding:5%;
	color:#e84118;
	background-color:#fefefe;
	border:1px solid #e84118;
	border-radius:5px;
	margin-bottom:3%;
}

.div-sign div.input input {
	flex:1;
	display:block;
	background-color:#f5f6f7;
	padding:3%;
	background:none;
	color:inherit; /* inherit from div.input */
  font-size:16px;
}

.div-sign div.input input::placeholder {
	opacity:0.7;
}


.div-sign div.input button {
	color:inherit; /* inherit from div.input */
	margin:0 4%;
	background:none;
	cursor:pointer;
	padding:0;
	flex:0;
	width:100%;
	/* background already none */
}

.div-sign .parts {
	margin-bottom:5%;
}


.div-sign .already-login {
	display:block;
	padding:4%;
}

.div-sign .separator {
	border-top:3px solid #afbbc6;
	margin:10% 5% 5% 5%;
}

.div-sign div.sign-succeed svg {
	margin-top:5%;
	margin-bottom:5%;
	width:100%;
	text-align:center;
	font-size:250px;
}

.div-sign div.sign-succeed p {
	text-align:center;
	margin-bottom:5%;
	font-weight:bold;
}

.div-sign .is_valid {
	color:#e84118;
}



/* sign-up page : sign-up.html */


.div-signup {
	box-shadow: 0px 0px 10px 2px rgba(72, 126, 176,0.65);
	-moz-box-shadow: 0px 0px 10px 2px rgba(72, 126, 176,0.65);
	-webkit-box-shadow: 0px 0px 10px 2px rgba(72, 126, 176,0.65);
  border: 2px rgba(72, 126, 176,0.65) solid;
}

.div-signup .top {
	background:rgb(72, 126, 176);
}

.div-signup label {
	color:rgb(72, 126, 176);
}

.div-signup div.input {
	border:1px solid rgb(72, 126, 176);
  background-color:rgba(72, 126, 176, 0.1);
	color:rgb(72, 126, 176);
}

.div-signup div.input:hover {
	background-color:rgba(72, 126, 176, 0.2);
}

.div-signup .already-login {
	color:rgb(72, 126, 176);
}

.div-signup div.sign-succeed {
	color:rgb(72, 126, 176);
}



/* sign-in page : sign-in.html */

.div-signin {
	box-shadow: 0px 0px 10px 2px rgba(68, 189, 50, 0.65);
  -moz-box-shadow: 0px 0px 10px 2px rgba(68, 189, 50, 0.65);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(68, 189, 50, 0.65);
  border: 2px rgba(68, 189, 50, 0.65) solid;
}

.div-signin .top {
	background:rgb(68, 189, 50);
}

.div-signin label {
	color:rgb(68, 189, 50);
}

.div-signin div.input {
	border:1px solid rgb(68, 189, 50);
	background-color:rgba(68, 189, 50, 0.1);
	color:rgb(68, 189, 50);
}

.div-signin div.input:hover {
	background-color:rgba(68, 189, 50, 0.2);
}

.div-signin .already-login {
	color:rgb(68, 189, 50);
}

.div-signin div.sign-succeed {
	color:rgb(68, 189, 50);
}

@media screen and (max-width:1000px) {
  body {
    font-size: calc(16px + 1vw);
    line-height: calc(1.1em + 0.5vw);
  }
  html, body {
    height:auto;
  }
  
  .div-sign .bottom {
    font-size:35px;
  }
  
  .div-sign label {
    font-size:34px;
  }
  
  .div-sign div.input input {
    font-size:40px;
  }
  
  .div-sign div.input button {
    font-size:45px;
  }
  
  .div-sign {
	  width:100%;
  }
  
  #appname {
    font-size:50px;
    margin:5%;
  }
}