@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'header.css';
@import 'footer.css';
@import 'markdown_highlight.css';


* {
	box-sizing:border-box;
	scroll-behavior:smooth;
	padding:0;
	margin:0;
	border:0;
	outline:none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul, li {
	list-style: none;
}

pre {
	margin:0;
	word-wrap: break-word;
  	white-space: pre-wrap; /* or pre to bottom scroll bar */
	font-family:'Courier New', Courier, monospace;
	overflow: auto;
}

html, body { /* don't have a white background when the page is empty */
	/* height:100%; */
}

body {
	font-family:Corbel; /* "Verdana", "Agency FB" */
	font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
	font-size: 16px;
	padding:0;
	position:relative;
	margin-bottom:100px;
	margin:0;
	line-height: 1;
	background:#333333;
}


a {
	color:white;
	text-decoration:none;
}


main {
	background-color:#333333;
}




















.link-in-button {
	color:inherit;
}


/* BUTTON CONVENTIONS */

.button-green {
	cursor:pointer;
	padding:2%;
	border-radius:5px;
	text-align:center;
	display:block; /* block in case of <a>, <button>, ... */
	background-color:rgb(68, 189, 50);
	color:#fefefe;
	border:1px solid rgb(68, 189, 50); /* BORDER INVISIBLE SANS HOVER, VISIBLE AU HOVER */

	transition:all 0.3s linear;
}

.button-green:hover {
  background-color:#fefefe;
  color:rgb(68, 189, 50);
}

.button-green-hover {
	cursor:pointer;
	padding:2%;
	border-radius:5px;
	text-align:center;
	display:block; /* block in case of <a>, <button>, ... */
	background-color:#fefefe;
	color:rgb(68, 189, 50);
	border:1px solid rgb(68, 189, 50); /* BORDER INVISIBLE SANS HOVER, VISIBLE AU HOVER */

	transition:all 0.3s linear;
}

.button-green-hover:hover {
  background-color:rgb(68, 189, 50);
  color:#fefefe;
}


.button-blue {
	cursor:pointer;
	padding:2%;
	border-radius:5px;
	text-align:center;
	display:block; /* block in case of <a>, <button>, ... */
	background-color:rgb(72, 126, 176);
	color:#fefefe;
	border:1px solid rgb(72, 126, 176); /* BORDER INVISIBLE SANS HOVER, VISIBLE AU HOVER */

	transition:all 0.3s linear;
}

.button-blue:hover {
  background-color:#fefefe;
  color:rgb(72, 126, 176);
}

.button-blue-hover {
	cursor:pointer;
	padding:2%;
	border-radius:5px;
	text-align:center;
	display:block; /* block in case of <a>, <button>, ... */
	background-color:#fefefe;
	color:rgb(72, 126, 176);
	border:1px solid rgb(72, 126, 176); /* BORDER INVISIBLE SANS HOVER, VISIBLE AU HOVER */

	transition:all 0.3s linear;
}

.button-blue-hover:hover {
  background-color:rgb(72, 126, 176);
  color:#fefefe;
}


.button-red {
	cursor:pointer;
	padding:2%;
	border-radius:5px;
	text-align:center;
	display:block; /* block in case of <a>, <button>, ... */
	background-color:#e84118;
	color:#fefefe;
	border:1px solid #e84118; /* BORDER INVISIBLE SANS HOVER, VISIBLE AU HOVER */

	transition:all 0.3s linear;
}

.button-red:hover {
  background-color:#fefefe;
  color:#e84118;
}