@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'header.css';
@import 'footer.css';
@import 'markdown_highlight.css';

:root {
	--main-color: rgb(22, 160, 133);
	--main-color-opacity-01: rgba(22, 160, 133, 0.1);
	--main-color-opacity-02: rgba(22, 160, 133, 0.2);
	--main-color-opacity-065: rgba(22, 160, 133, 0.65);

	--yellow: rgb(241, 196, 15);

	--blue: rgb(72, 126, 176);
	--blue-opacity-02: rgba(72, 126, 176, 0.2);
	--red: rgb(232, 65, 24);
	--red-opacity-02: rgba(232, 65, 24, 0.2);
}

* {
	box-sizing:border-box;
	scroll-behavior:smooth;
	padding:0;
	margin:0;
	border:0;
	outline:none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul, li {
	list-style: none;
}

pre {
	margin:0;
	word-wrap: break-word;
	white-space: pre-wrap; /* or pre to bottom scroll bar */
	font-family:'Courier New', Courier, monospace;
	overflow: auto;
}

html, body { /* don't have a white background when the page is empty */
	/* height:100%; */
}

body {
	font-family:Corbel; /* "Verdana", "Agency FB" */
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	padding:0;
	position:relative;
	margin-bottom:100px;
	margin:0;
	line-height: 1;
	background:#333333;
}


a {
	color:white;
	text-decoration:none;
}


main {
	background-color:#333333;
}




















.link-in-button {
	color:inherit;
}


/* BUTTON CONVENTIONS */

.button-green {
	cursor:pointer;
	padding:2%;
	border-radius:5px;
	text-align:center;
	display:block; /* block in case of <a>, <button>, ... */
	background-color:var(--main-color);
	color:#fefefe;
	border:1px solid var(--main-color); /* BORDER INVISIBLE SANS HOVER, VISIBLE AU HOVER */

	transition:all 0.1s linear;
}

.button-green:hover {
  background-color:var(--main-color-opacity-02);
}

.button-blue {
	cursor:pointer;
	padding:2%;
	border-radius:5px;
	text-align:center;
	display:block; /* block in case of <a>, <button>, ... */
	background-color: var(--blue);
	color:#fefefe;
	border:1px solid var(--blue);

	transition:all 0.1s linear;
}

.button-blue:hover {
  background-color:var(--blue-opacity-02);
}

.button-red {
	cursor:pointer;
	padding:2%;
	border-radius:5px;
	text-align:center;
	display:block; /* block in case of <a>, <button>, ... */
	background-color: var(--red);
	color:#fefefe;
	border:1px solid var(--red);

	transition:all 0.1s linear;
}

.button-red:hover {
	background-color:var(--red-opacity-02);
}

.login-or-register-succeed {
    text-align: center;
    color: white;
    height: 80px;
    width: 25vw;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    background-color: var(--main-color-opacity-065);
    position: fixed;
    top: 8%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    z-index: 1000000000;
    font-weight: 600;
    font-size: 20px;

    animation: popupEnter 0.4s forwards, 
    popupLeave 0.4s 4s forwards
}

@keyframes popupLeave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(25vw);
    }
}

@keyframes popupEnter {
    0% {
        transform: translateX(25vw);
    }
    100% {
        transform: translateX(0);
    }
}