<header class="navbar-parent">
	<a href="#" class="navbar-first-elt-logo"> <!--style="white-space:nowrap"-->
		<img 
			src="https://cdn.discordapp.com/attachments/710978082902638594/764661248029098004/1602379831460.png" 
			width="50"
			> <!-- https://cdn.discordapp.com/attachments/710978082902638594/764599809386086470/1602365181400.png -->
	</a>

	<a href="#" class="navbar-first-elt">
		ASFIX
	</a>

	<a href="/" class="navbar-elt">
		HOME
	</a>

	<a href="/bin/paste" class="navbar-elt">
		PASTE
	</a>

	<a href="/developers" class="navbar-elt">
		DEVELOPERS
	</a>

	<a href="/login" class="navbar-elt">
		LOGIN
	</a>

</header>