{% load static %}
<button onclick="deployNavBar()" id="navbar-deploy">
<img src="{% static 'hamburger.png' %}">
</button>

<header id="navbar" class="navbar-parent">
	<!--<a href="#" class="navbar-first-elt-logo">
		<img 
			src="https://cdn.discordapp.com/attachments/710978082902638594/764661248029098004/1602379831460.png" 
			width="50"
			> 
	</a>-->

	<a href="#" class="navbar-first-elt">
		ASFIX
	</a>

	<a href="/" class="navbar-elt">
		HOME
	</a>

	<a href="/bin/paste" class="navbar-elt">
		PASTE
	</a>

	<a href="/developers" class="navbar-elt">
		DEVELOPERS
	</a>

	{% if user.is_authenticated %}
	<a href="/profile" class="navbar-elt">
		PROFILE
	</a>
	{% else %}
	<a href="/login" class="navbar-elt">
		LOGIN
	</a>
	{% endif %}

</header>

<script>

function deployNavBar() {
	console.log("oof")
	let nav = document.getElementById("navbar");
	let navDeploy = document.getElementById("navbar-deploy");
	nav.style.display = "flex";
	navDeploy.onclick = undeployNavBar;
}

function undeployNavBar() {
	let nav = document.getElementById("navbar");
	let navDeploy = document.getElementById("navbar-deploy");
	nav.style.display = "none";
	navDeploy.onclick = deployNavBar;
}

</script>