<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link href="{% static 'styles.css' %}" rel="stylesheet">
	<link href="{% static 'developers.css' %}" rel="stylesheet">
	<title>ASFIX - Developers</title>
</head>
<body>

<main>
	<div class="dev-card">
		
		<div class="pfp">
			<img src="{% static 'githubpdp.jpg' %}">
		</div>
		<div class="name">
			Ember
		</div>

		<div class="languages">
			Python
		</div>

		<div class="link">
			<a href="https://github.com/EmberOn">
				<img src="{% static 'github.png' %}">
			</a>
		</div>
	</div>
</main>

</body>
</html>