

{% load static %}
<!--
<footer>  
  <div class="reseaux">
    <div>
      <a href="#" target="_blank" title="Mon discord">
        <img src="https://www.freepnglogos.com/uploads/discord-logo-png/discord-logo-logodownload-download-logotipos-1.png"/>
      </a>
    </div>
    
    <div>
      <a href="https://github.com/EmberOn" target="_blank" title="Mon github"> 
        <img src="{% static 'github.png' %}"/>
      </a>
    </div>
    <div>
      <a href="mailto:ember.contactme@gmail.com" target="_blank" title="Mon mail">
        <img src="https://cdn.pixabay.com/photo/2016/06/13/17/30/mail-1454731_1280.png"/>
      </a>
    </div>
  </div>
  
  
  
  <div class="end_footer">
    <div class="categories">
      <div class="categorie">
        <h3>
          A PROPOS
        </h3>
        <ul class="list-categorie">
          <li>Conditions d'utilisation</li>
          <li>Vos cookies</li>
          <li>Obtenir de l'aide</li>
        </ul>
      </div>
      <div class="categorie">
        <h3>
          LIENS
        </h3>
        <ul class="list-categorie">
          <li>...</li>
          <li>...</li>
          <li>...</li>
          <li>...</li>
          <li>...</li>
        </ul>
      </div>
      <div class="categorie" style="border:none;">
        <h3>
          AIDES
        </h3>
        <ul class="list-categorie">
          <li>...</li>
          <li>...</li>
          <li>...</li>
        </ul>
      </div>
    </div>
    
    <div class="copyright">
      &copy 2020 EmberOn
   </div>
  
</footer>
-->