<style>

* {
	margin:0;
	padding:0;
	font-family:Verdana;
}

  footer {
    margin-top: 285px;
    /* background-color: var(--background-tertiary); */
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
  footer a {
    color:white;
    text-decoration:none;
  }
  
  footer a:hover {
    color:white;
    text-decoration:underline;
  }
  
  /*
  .chargement {
    position:absolute;
    border-left:5px solid white;
    height:100%;
  }
  */
  /*
  
  .contact {
    display:inline;
    padding:2%;
    background-color:orange;
    width:100px;
    height:100px;
    border-radius:100px;
    text-align:center;
    
    margin-right:auto;
    margin-left:0;
    
    box-shadow: 5px 5px 5px #656565;
  }
  */
  
  div.reseaux {
    background-color:#4542f5;
    padding:2%;
    text-align:center;
  }
  
  div.reseaux div {
    display:inline;
    width:100px;
    height:100px;
    border-radius:100px;
    margin:0px 7.5% 0px 7.5%;
  }
  
  div.reseaux img:hover {
    transition:linear 0.1s width;
    width:90px;
  }
  
  div.reseaux img {
    width:100px;
  }

  h3.reseaux {
  	margin-bottom:1%;
  }
  
  div.pictogramme {
    background-color:#ff6c00;
    padding:1%;
    text-align:center;
  }
  
  
  div.pictimage {
    margin-bottom:5px;
    text-align:center;
  }
  
  .testli {
    list-style:none;
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
  }
  
  .testli > li {
    flex: 1;
    margin: 0 20px;
  }
  
  h3 {
    color:white;
    padding:0px;
  }
  
  
  div.end_footer {
    background-color:#00000F;
    color:white;
    padding:3% 0 3% 0;
  }
  
  .categories {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .categorie {
   
    border-right:10px solid white;   
    padding: 5%;
    
  }
  
  .list-categorie {
    list-style-type:disclosure-closed;
    line-height:200%;
    font-size:150%;
  }
  
  .list-categorie > li:hover {
    list-style-type:disclosure-open;
  }
  
  .copyright {
    float:inline-start;
    margin-left:2%;
  }

  
  .inscription_footer {
    border-radius: 100px 100px 0px 0px;
    padding:1%;
    text-align:center;
    background-color:#ff6c00;
    bordius:10px;
    font-size:150%;
    font-weight:900;
    }
</style>

{% load static %}

<footer>
  <a href="#" title="S'inscrire à un cours sur le site">
    <div class="inscription_footer">
      S'inscrire
    </div>
  </a>

  
  <div class="reseaux">
    <h3 class="reseaux">
      <----------------------------------------------------------------
      Contacts
      ---------------------------------------------------------------->
    </h3>
    <div>
      <a href="#" target="_blank" title="Mon discord">
        <img src="https://www.freepnglogos.com/uploads/discord-logo-png/discord-logo-logodownload-download-logotipos-1.png"/>
      </a>
    </div>
    
    <div>
      <a href="https://github.com/EmberOn" target="_blank" title="Mon github"> 
        <img src="{% static 'github.png' %}"/>
      </a>
    </div>
    <div>
      <a href="mailto:ember.contactme@gmail.com" target="_blank" title="Mon mail">
        <img src="https://cdn.pixabay.com/photo/2016/06/13/17/30/mail-1454731_1280.png"/>
      </a>
    </div>
    <!--
    <a href="#" target="_blank" title="Github">
      <img src="https://cdn.glitch.com/1b2c13de-2302-470f-92e4-63ce38326f8f%2Fgithub.png?1555790908078"/>
    </a>
    -->
  </div>
  
  <!--
  <div class="pictogramme">
    <ul class="testli">
      <li>
        <div class="pictimage">
          <img src="https://img.icons8.com/ios-filled/50/000000/newtonsoft.png">
        </div>
        <h3>Support disponible n'importe quand sur le <a href="https://discord.gg/mNmGyGK">Discord</a></h3>
      </li>

      <li>
        <div class="pictimage">
          <img src="https://img.icons8.com/ios-filled/50/000000/newtonsoft.png">
        </div>
        <h3>Les cours sont complètement <b>gratuit</b> et sans pub</h3>
      </li>

      <li>
        <div class="pictimage">
          <img src="https://img.icons8.com/ios-filled/50/000000/newtonsoft.png">
        </div>
        <h3>De la diversité, cours, exercices, QCM, ...</h3>
      </li>

      <li>
        <div class="pictimage">
          <img src="https://img.icons8.com/ios-filled/50/000000/newtonsoft.png">
        </div>
        <h3>Un site clair et intuitif, des cours soignés</h3>
      </li>
    </ul>
  
  </div>
  -->
  
  
  <div class="end_footer">
    <div class="categories">
      <div class="categorie">
        <h1>
          A PROPOS
        </h1>
        <ul class="list-categorie">
          <li>Conditions d'utilisation</li>
          <li>Vos cookies</li>
          <li>Obtenir de l'aide</li>
        </ul>
      </div>
      <div class="categorie">
        <h1>
          THE WORLD
        </h1>
        <ul class="list-categorie">
          <li><a href="../courses#nodejs">Hello world</a></li>
          <li><a href="../courses#python">Bye world</a></li>
          <li><a href="../courses#java">bruh world</a></li>
          <li>...</li>
          <li>...</li>
        </ul>
      </div>
      <div class="categorie" style="border:none;">
        <h1>
          DISCORD
        </h1>
        <ul class="list-categorie">
          <li>...</li>
          <li>...</li>
          <li>...</li>
        </ul>
      </div>
    </div>
    
    <div class="copyright">
      &copy 2020 EmberOn
   </div>
  
</footer>