{% load static %}
{% load split %}
<nav id="navbar" class="navbar-parent">
	<div id="navbar-content" class="header-content">
		<h1 id="appname">
			<!--Embin-->
			<img src="{% static 'logo.png' %}">
		</h1>

		<div class="links">
			<a href="/" class="navbar-elt bin-elt">
				BIN
			</a>

			<a href="/list" class="navbar-elt bins-elt">
				BINS
			</a>

			{% if user.is_authenticated %}
			<a href="/profile" class="navbar-elt profile-elt">
				PROFILE
			</a>
		</div>
		<div class="sign">
			<a href="/profile" class="signin button-red">
				Logout
			</a>
		</div>
		{% else %}
		</div>
		<div class="sign">
			<a href="/login/sign-in" class="signin button-green">
				Login
			</a>
			<a href="/login/sign-up" class="signup button-blue">
				Register
			</a>
		</div>
		{% endif %}
	</div>
</nav>

<!-- TOP BUTTON -->
<div id="button-top" class="button-top">
	<i onclick="topFunction()" class="fas fa-arrow-circle-up"></i>
</div>

<!-- LOADER -->
<div class="loader">
	<div class="inside">
		
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>jQuery(window).load(function(){ jQuery(".loader").fadeOut("200"); });</script>

<!-- -->


<style>
	{% if request.path|first_url == "profile" %}

	.profile-elt {
		border-bottom: 1px solid #cccccc;
		color:#fefefe;
	}

	{% elif request.path|first_url == "list" %}

	.bins-elt {
		border-bottom: 1px solid #cccccc;
		color:#fefefe;
	}

	{% else %}
	.bin-elt {
		border-bottom: 1px solid #cccccc;
		color:#fefefe;
	}
	{% endif %}
</style>

<script>

function undeployNavBar() {
	let nav = document.getElementById("navbar");
	let navDeploy = document.getElementById("navbar-deploy");
	nav.style.display = "flex";
	navDeploy.onclick = deployNavBar;
}

function deployNavBar() {
	let nav = document.getElementById("navbar");
	let navDeploy = document.getElementById("navbar-deploy");
	nav.style.display = "none";
	navDeploy.onclick = undeployNavBar;
}

function topFunction() {
	document.body.scrollTop = 0
	document.documentElement.scrollTop = 0
}

let topButton = document.getElementById("button-top");

window.onscroll = function () {
	if(document.body.scrollTop > 60 || document.documentElement.scrollTop > 60) {
		topButton.style.display = "block";
	} else {
		topButton.style.display = "none";
	}
}
</script>
