{% load static %}
{% load split %}

<!--
<header class="header">
	<h1>A</h1>
	<h1>S</h1>
	<h1>F</h1>
	<h1>I</h1>
	<h1>X</h1>
	< ! --
	<div class="logo">
		
	</div>
	<div class="logo">
		<i class="fab fa-github"></i>
	</div>

	{% if user.is_authenticated %}
	<div class="logo">
		<a href="/profile"><i class="fas fa-user"></i></a>
		{% if user.is_staff %}
		<a href="/profile"><i class="fas fa-user-plus"></i></a>
		{% endif %}
		{% if user.is_superuser %}
		<a href="/admin"><i class="fas fa-user-check"></i></a>
		{% endif %}
	</div>
	{% else %}
	<div class="logo">
		<a href="/login"><i class="fas fa-user-alt-slash"></i></a>
	</div>
	{% endif %}



	<div class="logo">
		<button onclick="deployNavBar()" id="navbar-deploy"><i class="fas fa-bars"></i></button>
	</div>
- - >
</header>
-->



<div class="separator-1">
	<div></div>
</div>


<nav id="navbar" class="navbar-parent">
	<div id="navbar-content" class="header-content" style="width:80%;display:flex;flex-flow:row wrap;margin: auto">
		<a href="/" class="navbar-elt index-elt">
			HOME
		</a>

		<a href="/articles" class="navbar-elt articles-elt">
			ARTICLES
		</a>

		<a href="/bin" class="navbar-elt bin-elt">
			BIN
		</a>

		{% if user.is_authenticated %}
		<a href="/profile" class="navbar-elt profile-elt">
			PROFILE
		</a>
		<div class="sign">
			<a href="/profile" class="signin button-red">
				LOGOUT
			</a>
		</div>
		{% else %}
		<a href="/login" class="navbar-elt login-elt">
			LOGIN
		</a>
		<div class="sign">
			<a href="/login/sign-in" class="signin button-green">
				SIGN IN
			</a>
			<a href="/login/sign-up" class="signup button-blue">
				SIGN UP
			</a>
		</div>
		{% endif %}

		<div class="logo-website">
			<img src="{% static 'logo__.png' %}">
		</div>

		<div id="button-top" class="button-top">
			<i onclick="topFunction()" class="fas fa-arrow-circle-up"></i>
		</div>
	</div>


	<div id="separator-move" class="separator-2">
		<div></div>
	</div>

</nav>


<!-- LOADER -->
<div class="loader">
	<div class="inside">
		
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>jQuery(window).load(function(){ jQuery(".loader").fadeOut("200"); });</script>

<!-- -->


<style>
	{% if request.path|first_url == "login" %}
	.login-elt {
		background-color:#204ecf;
		color:#fefefe;
	}

	{% elif request.path|first_url == "profile" %}

	.profile-elt {
		background-color:#204ecf;
		color:#fefefe;
	}

	{% elif request.path|first_url == "articles" %}

	.articles-elt {
		background-color:#204ecf;
		color:#fefefe;
	}

	{% elif request.path|first_url == "bin" %}

	.bin-elt {
		background-color:#204ecf;
		color:#fefefe;
	}

	{% else %}
	.index-elt {
		background-color:#204ecf;
		color:#fefefe;
	}
	{% endif %}
</style>

<script>

function undeployNavBar() {
	let nav = document.getElementById("navbar");
	let navDeploy = document.getElementById("navbar-deploy");
	nav.style.display = "flex";
	navDeploy.onclick = deployNavBar;
}

function deployNavBar() {
	let nav = document.getElementById("navbar");
	let navDeploy = document.getElementById("navbar-deploy");
	nav.style.display = "none";
	navDeploy.onclick = undeployNavBar;
}

function topFunction() {
	document.body.scrollTop = 0
	document.documentElement.scrollTop = 0
}

let topButton = document.getElementById("button-top");

window.onscroll = function () {
	if(document.body.scrollTop > 60 || document.documentElement.scrollTop > 60) {
		topButton.style.display = "block";
	} else {
		topButton.style.display = "none";
	}
}
/*
let diff = 0;
let change = 0;
const navbarAnimElement = document.getElementById("separator-move");

window.onscroll = function () {
	if(diff < document.documentElement.scrollTop) {
		change++;
		console.log("-> SCROLL : change += 1")
	} else {
		change--;
		console.log("-> SCROLL : change -= 1")
	}

	console.log(change + "%")

	navbarAnimElement.children[0].style.width = change + "%"
	console.log("-> SCROLL : width = x%")

	if(document.body.scrollTop > 60 || document.documentElement.scrollTop > 60) {
		topButton.style.display = "block";
	} else {
		topButton.style.display = "none";
	}
	diff = document.documentElement.scrollTop
}
*/
</script>
