<!DOCTYPE html>
<html>
<head>
	{% load static %}
	{% include 'head.html' %}
	<link href="{% static 'home.css' %}" rel="stylesheet">
	<title>Home ➔ ASFIX</title>
</head>
<body>

{% include 'header.html' %}

<main>


<div class="container-1">

	<div class="child-content">

		<h1>
		    EMBIN
		</h1>

		<p>
			Embin est à l'origine fait pour les développeurs, d'où la création d'un système
			de BIN pour copier-coller un bout de code dedans afin de le partager à d'autre
			développeurs.
			Mais il y a aussi les articles qui peuvent être utilisés à propos
			de n'importe quel sujet, même s'il y a une mise en avant du code avec un système
			de couleur.
			Un système de liens et de commentaires est prévu prochainement.
			
		</p>

		<a href="/bin" class="home-button button-blue">
		  <i class="fas fa-paste"></i>  Paste your code snippets
		</a>

		<a href="/articles" class="home-button button-blue">
		  <i class="fas fa-newspaper"></i>  Make an article
		</a>

	</div>

	<div class="child-image">
		<div class="img">
		    <img src="{% static 'logo__.png' %}">
		</div>
	</div>
</div>




<div class="main">


<div class="pictogramme">
	<ul class="testli">
	  <li class="bin">
	  	<a href="#bin">
			<div class="pictimage">
				<i class="fas fa-paste"></i>
			</div>
			<h3>Create and share bin</h3>
		</a>
	  </li>

	  <li class="articles">
	  	<a href="#articles">
			<div class="pictimage">
				<i class="fas fa-newspaper"></i>
			</div>
			<h3>Create and read article</h3>
	  	</a>
	  </li>

	  <li class="signin">
		<a href="#signin">
			<div class="pictimage">
				<i class="fas fa-sign-in-alt"></i>
			</div>
			<h3>Sign up to interact</h3>
		</a>
	  </li>
	  <!--
	  <li class="other-2">
	  	<a href="#signin">
			<div class="pictimage">
				<i class="fas fa-paste"></i>
			</div>
			<h3>Hello World</h3>
	  	</a>
	  </li>-->
	</ul>

</div>



<div class="presentation">

	<div id="bin" class="bin">
		<p>Copy, <br> Paste, <br> Share <br> Bin</p>
		<p><img src="{% static 'code.PNG' %}"></p>
	</div>

	<div id="articles" class="articles">
		<p><img src="{% static 'article.PNG' %}"></p>
		<p>Create, <br> Share, <br> Read <br> Articles</p>
	</div>

	<div id="signin" class="signin">
		<p>Sign in, <br> Profile, <br> Comments, <br> Login</p>
		<p><img src="{% static 'signin.PNG' %}"></p>
	</div>

	<!--<div class="other-2">
		<p><img src="{% static 'code.PNG' %}"></p>
		<p>Create, <br> Share, <br> Read <br> Articles</p>
	</div>
-->
</div>



</div>
<!--
<br>
-> {{ next }}<br>
-> {{ user }}<br>
-> {{ form }}<br>
-->


</main>

{% include 'footer.html' %}


<script type="text/javascript">
	/*
	window.onscroll = function() {scrollFunction()}
	function scrollFunction() {
		let navigation = document.getElementsByClassName("nav")[0]

		child = navigation.children

		if(document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {

			navigation.style.opacity = "0.5"

			// navigation.style.height = "15%";
			// navigation.style.alignItems = "start";
		} else {

			navigation.style.opacity = "0.9"
			
			// navigation.style.height = "20%";
			// navigation.style.alignItems = "center";
		}


	}

	const content = document.getElementsByClassName("nav")[0];
	window.addEventListener("scroll", (e) => {

	  var scrolled = document.scrollingElement.scrollTop;
	  var position = content.offsetTop;

	  if(scrolled < position + 100){
		  content.style.opacity = "1"
	  }
	});
*/		
</script>

</body>

</html>