<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link href="{% static 'styles.css' %}" rel="stylesheet">
	<link href="{% static 'login.css' %}" rel="stylesheet">
	<title>ASFIX - Sign up</title>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body class="sign">

{% include 'basenav.html' %}

<main>

<form method="post" class="div-sign div-signin">
	{% csrf_token %}

	<h2 class="top">
		SIGN IN
	</h2>

	<div class="middle">
		<div class="username">
			<label>Username</label>
			<div class="input">
				<input required name="username" placeholder="username">
				<button type="button">
					<i class="fas fa-user"></i>
				</button>
			</div>

			<span class="is_valid">{{ username_is_valid }}</span> <!-- IF it is get, password_is_valid just not work and span is empty -->
		</div>

		<div class="password">
			<label>Password</label>

			<div class="input">
				<input id="password" required name="password" type="password" placeholder="password">
				<button onclick="showPassword()" type="button">
					<i class="fas fa-eye-slash"></i>
				</button>
			</div>
			
			<span class="is_valid">{{ password_is_valid }}<span> <!-- IF it is get, password_is_valid just not work and span is empty -->
		</div>
	</div>

	<button type="submit" class="button-green bottom">
		SUBMIT
	</button>

	<div class="separator"></div>

	<a class="already-login" href="sign-up">I already have an account</a>

</form>

</main>

<script src="{% static 'login.js' %}"></script>

</body>
</html>

<!--<div class="align"></div>

	<a class="already-login" href="../login/sign-in">You already have an account ?</a>-->
