<!DOCTYPE html>
<html>
<head>
	{% load static %}
	{% include 'head.html' %}
	<link href="{% static 'login.css' %}" rel="stylesheet">
	<title>Register ➔ Embin</title>
</head>
<body class="sign">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

{% include 'header.html' %}

<main>
	<form id="form-reg" method="post" class="form-container form-register">
		{% csrf_token %}
	    <label for="username">Username</label>
	    <div id="loginDiv"><input type="text" class="login" id="username" name="username" placeholder="benjamin123" autocomplete="off" maxlength="50" required></div>
	    <label class="secure-password-and-bad-password" id="secure-login">
	        <div id="secure-login-details">&#8226 Login already taken</div>
	    </label>

	    <label for="password">Password</label>
	    <div class="passwordDivs" id="passwordDiv">
	        <input type="password" id="password" name="password" placeholder="NX:b7!LrPg@t2X9" minlength=8 maxlength="50" value="" required>
	        <button type="button" class="hide-password" id="hide-password"><i class="fa-solid fa-eye"></i></button>
	    </div>
	    <label class="secure-password-and-bad-password" id="secure-password">
	        <div id="secure-password-details">
	            <p id="secure-8letters"><i class="fa-solid fa-xmark"></i> 8 letters</p>
	            <p id="secure-capital"><i class="fa-solid fa-xmark"></i> 1 capital letter</p>
	            <p id="secure-special"><i class="fa-solid fa-xmark"></i> 1 special char</p>
	            <p id="secure-number"><i class="fa-solid fa-xmark"></i> 1 number</p>
	        </div>
	    </label>

	    <label for="password-verify">Password confirm</label>
	    <div class="passwordDivs" id="passwordVerifyDiv">
	        <input type="password" id="password-verify" name="password_confirm" placeholder="NX:b7!LrPg@t2X9" minlength="8" maxlength="50" required>
	        <button type="button" class="hide-password" id="hide-password-verify"><i class="fa-solid fa-eye"></i></button>
	    </div>
	    <label class="secure-password-and-bad-password" id="secure-password-verify">
	        <div id="secure-password-verify-details">
	            <p id="message-valid-verify">&#8226 Password does not match</p>
	        </div>
	    </label>

	    {% if unknown_error or password_is_valid or password_confirm_is_valid %}
        <label class="secure-password-and-bad-password">{{ username_is_valid }} / {{ password_is_valid }} / {{ password_confirm_is_valid }}</label>
        {% endif %}

	    <input type="submit" id="submit-register" name="submit-register" value="Register">


	    <div class="separator"></div>
	    <p class="already-account">Already have an account? <a href="sign-in">Login now</a></p>
	</form>
</main>

<script src="{% static 'register.js' %}"></script>

</body>
</html>