<!DOCTYPE html>
<html>
<head>
	{% load static %}
	{% include 'head.html' %}
	<link href="{% static 'login.css' %}" rel="stylesheet">
	<title>Login ➔ Embin</title>
</head>
<body class="sign">

{% include 'header.html' %}

<main>

<!-- MAXLENGTH : 150, django max username length-->
<!-- MAXLENGTH : 500, django max password length is infinite as they say : https://docs.djangoproject.com/fr/3.1/ref/contrib/auth/#django.contrib.auth.models.User.password but we even limit. -->

    <form method="post" class="form-container form-login">
    	{% csrf_token %}

        <label for="login">Login</label>
        <input type="text" class="login" id="login" name="username" placeholder="benjamin123" maxlength="150" required>

        <label for="password">Password</label>
        <div class="passwordDivs" id="passwordDiv">
            <input type="password" id="password" name="password" placeholder="NX:b7!LrPg@t2X9" maxlength="50" required>
            <button type="button" class="hide-password" id="hide-password"><i class="fa-solid fa-eye"></i></button>
        </div>
		{% if unknown_error or password_is_valid or username_is_valid %}
        <label class="secure-password-and-bad-password">{{ unknown_error }}{{ username_is_valid }}{{ password_is_valid }}</label>
        {% endif %}
        <input type="submit" value="Login">

        <div class="separator"></div>
        <p class="already-account">Don't have an account? <a href="sign-up">Register now</a></p>
    </form>
</main>

<script src="{% static 'login.js' %}"></script>

</body>
</html>