pre.prettyprint {
	white-space: pre; /* bottom scroll bar */
	counter-reset: number;
	position:fixed;
	width:100%;
	height:100%;
  	margin:0 0 0 0 !important;
  	padding:0 !important;
	background-color:#282923 !important; /* #282923 (sublime text) */
	font-size:13px !important;
	border:none !important;
	outline:none !important;
	color:#dddddd !important;
}
/*
pre.prettyprint li {
	list-style-type:decimal;
	list-style-position: outside;
}

pre.prettyprint li::before {
	content:"";
	margin-right:1vh;
}

pre.prettyprint li::marker {
	color:#666666;
}
*/

/* !important to override default prettyprint style */
li:first-child::before {
	padding-top:1vh;
}
li:last-child::before {
	padding-bottom:1vh;
}

/* The "\a0" is a space */
li::before {
  	counter-increment: number;
  	content: counter(number);
  	margin-right:12px;
	color: #fff;
	display: inline-block;
	background-color:#282923;
	width: 3em;
	text-align:right;
	padding-right:1vh;
	font-size:13px;
}
li:hover {
	background-color:#00001f;
	padding-top:1vh;
	padding-bottom:1vh;
}

li:hover::before {
	background-color:#00001f;
}

@media screen and (max-width:800px) {
	pre.prettyprint {
		font-size:20px;
	}
	li::before {
		font-size:20px;
	}
	li:hover {
		background-color:unset;
		padding-top:0;
		padding-bottom:0;
	}
	li:hover::before {
		background-color:unset;
	}
}

/* BOTTOM RIGHT BUTTON */
.bottom-button {
	position:fixed;
	width:15vh;
	height:15vh;
	right:3vh;
	border-radius:50%;

	background-color:#f0f0f0;
	color:#00001f;
	cursor:pointer;
}

.bottom-button-a {
	color:#00001f;
}

.bottom-button svg {
	font-size:6vh;
}

.create-button {
	bottom:3vh;
}

.copy-button {
	bottom:20vh;
}

.print-button {
	bottom:37vh;
}

.prettyprinted {
	color:#dddddd !important;
}

.pln {
	color:#dddddd !important;
}

.pun {
	color:#dddddd !important;
}

.kwd {
	color:#F92672 !important;
}

.typ {
	color:#66D9EF !important;
}

.com {
	color:#75715E !important;
	font-style:italic !important;
}

.str {
	color:#E7DB74 !important;
}

.lit { /* number */
	color:#AE81FF !important;
}